#crumb_wrap {
  background: #505050;
}

#crumb_wrap a:link { color: #FFFFFF; }
#crumb_wrap a:visited { color: #ffffff; }
#crumb_wrap a:hover { color: #ffffff; }
#crumb_wrap a:active { color: #ffffff; }

.crumbs {
  width: 100%;
  font-weight: bolder;
  padding: 2em;
}

#main_content_wrap {
  text-align: justify;
  text-justify: inter-word;
}
